﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Zur Marktflagge 5<br />
    10247 Berlin, Germany<br />
</address>

<address>
    <strong>Support:</strong> Rico.Herlt[ät]studentpartners.de
</address>