﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wall of Fame</h1>
    <p class="lead">Wall of Fame is a Microsoft Azure hosted and ASP.NET MVC Website with WebApi 2 based cloud plattform for sharing high scores and player comments of games. This application was created by Rico Herlt, Micrisoft Student Partner for the Uni(versi)ty Tour 2015 at HTW Berlin.</p>
    <p><a href="https://www.microsoft.com/germany/techwiese/techstudent/news/university-tour-2015-mit-unity-und-microsoft-spiele-entwickeln.aspx" class="btn btn-primary btn-lg">Uni(versi)ty Tour 2015 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>To push your high scores you need to create a new game id.</p>
        <p><a class="btn btn-default" href="/Game">Create a new Game &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rounds and scores</h2>
        <p>You can visit the Rounds area to see the latest scores.</p>
        <p><a class="btn btn-default" href="/Round">Checkout posted scores &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get API</h2>
        <p>The wohle application is open source and availible at the Bitbucket repository. You can also get the compiled client dlls there.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/rherlt/walloffame/">Visit Repositiory &raquo;</a></p>
    </div>
</div>